<!DOCTYPE html>
<html lang="en" ng-app="ElminaraApp" ng-controller="ContactPageCtrl">
	<head>
		[[mandatory_control | raw]]
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>[[funnel_name]] - Contact Us</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
		<link rel="stylesheet" href="css/main.css">
	</head>
	<body class="contact">
	  <h1>Contact Us</h1>
	  <address>
	  	<strong>[[owner_corp_name]]</strong><br>
			[[address_formatted | raw]]
	    <p>
				<strong>Customer Service Phone:</strong> <a href="tel:[[funnel_support_phone]]">[[funnel_support_phone]]</a>
			</p>
		</address>
		<p>We are open 24 hours a day 7 day a week. We are closed on major US holiday: Christmas Day.</p>
	  <strong>Returns</strong>
		<p>If you need to return your order please contact customer service to get an RMA number that you will need to include in the package you send back to us. All returns should be sent to this address:</p>
	  <address>
	    [[address_return | raw]]
	  </address>
		<p>
			<strong>Email:</strong> <a href="mailto:[[funnel_support_email]]">[[funnel_support_email]]</a>
		</p>
	</body>
</html>
