<!DOCTYPE html>
<html lang="en">
  <head>
		[[mandatory_control | raw]]
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1, user-scalable=0" name="viewport"/>
    <title>[[funnel_name]] - Thank You</title>
		[[core_app_css_links | raw]]
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="css/two-tone.css">
    <link rel="stylesheet" href="css/root.css">
  </head>
  <body class="inner">
    <header class="header">

			<div class="container">


				<div class="panel header">
					<div class="panel__content">


				<div class="row row--two">


					<div class="column">

<div class="header__logo"></div>
					</div>


					<div class="column">

	<div class="header__products product-three">
		<div class="product__picture"></div>
		<div class="product__picture"></div>
		<div class="product__picture"></div>
	</div>

					</div>


				</div>


					</div>
				</div>


			</div>


		</header>
    <div class="primary-design">
      <div class="design">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>		</div>
    <main class="main-content">
      <div class="container">
        <div class="panel thanks">
          <div class="panel__content">
          	<h1>THANK YOU FOR YOUR PURCHASE</h1>
            <p>We hope you enjoy the potential benefits of [[funnel_name]],<br>your package will be shipped soon!</p>
          </div>
        </div>
      </div>
    </main>
    <footer class="footer">

			<div class="container">


				<div class="panel footer">
					<div class="panel__content">


				<div class="row row--one">


					<div class="column">

<a href="terms" data-open-popup="true">TERMS</a> |
<a href="privacy" data-open-popup="true">PRIVACY POLICY</a> |
<a href="contact" data-open-popup="true">CONTACT US</a> |
<a href="ingredients" data-open-popup="true">INGREDIENTS</a>

					</div>


				</div>


				<div class="row row--one">


					<div class="column">

<span>Copyright &copy; [[current_year]] [[owner_corp_name]]. All Rights Reserved</span>
					</div>


				</div>


				<div class="row row--one">


					<div class="column">

<address>[[owner_corp_name]]<br><br>Address: [[address_formatted | raw]]<br><br>Phone Number: <a href="tel:[[funnel_support_phone]]">[[funnel_support_phone]]</a><br><br>Email: <a href="mailto:[[funnel_support_email]]">[[funnel_support_email]]</a></address>
					</div>


				</div>


				<div class="row row--one">


					<div class="column">

<p>This product is not for use by or sale to persons under the age of 18. This product should be used only as directed on the label. These statements have not been evaluated by the FDA. This product is not intended to diagnose, treat, cure or prevent any disease. Individual results will vary. By using this site you agree to follow the Privacy Policy and all Terms & Conditions printed on this site. Void Where Prohibited By Law.</p>
					</div>


				</div>


					</div>
				</div>


			</div>


		</footer>
		[[core_app_js_links | raw]]
		<script src="js/main.js"></script>
  </body>
</html>
