.Controls {
    position: fixed;
    top: 0;
    left: 0;
    border: 1px solid #ccc;
    box-shadow: 0 0 2px 2px #ccc;
    overflow-y: auto;
    bottom: 0;
    width: 300px;
}
.Controls .Tools {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
}

@media screen and (max-width: 500px) {

}