.Website {
    width: 90%;
    margin: 0 auto;
    box-shadow: 0 0 2px 2px #ccc;
    box-sizing: border-box;
    margin: 10px;
    position: relative;
}
.Website h1 {
    text-align: center;
    font-size: 16px;
    margin-bottom: 5px;
}
.Website .Delete {
    position: absolute;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-bottom-left-radius: 10px;
    background-color: #e42929;
    font-size: 16px;
    font-weight: 600;
    top: 0;
    right: 0;
    border: none;
    cursor: pointer;
}

.Website .Delete:hover {
    background-color: #db262b;
}

.Website .PaletteToggle {
    position: absolute;
    color: #fff;
    padding: 5px 10px;
    border-bottom-right-radius: 10px;
    background-color: #1371d9;
    font-size: 16px;
    font-weight: 600;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    cursor: pointer;
}
@media screen and (min-width: 500px) {
    .Website {
        width: 250px;
    }
}