.Websites {
    overflow: overlay;
}

@media screen and (min-width: 500px) {
    .Websites {
        position: absolute;
        left: 300px;
        padding: 15px;
        justify-content: flex-start;
        align-items: flex-start;
        display: flex;
        top: 0;
        bottom: 150px;
        right: 0;
        flex-flow: wrap row;
        overflow: auto;
    }
}